@import "./reset";

$tile-color      :red;
$box-width       :100px;
$box-height      :100px;
$box-border-width:2px;
$box-border-style:soild;
$box-border-color:black;
$box-margin      :0;
$box-padding     :0;


.box {
    width  : $box-width;
    height : $box-height;
    border : $box-border-width $box-border-style $box-border-color;
    margin : $box-margin;
    padding: $box-padding;
}









$total_columns:12 @for $n from 1 through 12 {
    #col-xs-#{$n} {
        width:calc(100%*#{$n} /#{$total_columns});
    }
}